*.dll
*.pdb
*.suo
*.lock.json
*.dll.mdb
*.user

Log*.txt
Traces.svclog

.svn
.vs
.idea

bin
obj
packages
BundleArtifacts
AppPackages
api

*.designer.cs
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
*.targets
*.props
*.csproj.bak
*.targets
*.props

Misc/ExternalXamlEditor

/AES/.vs/restore.dg
/Xivic/Adapt.Services/wwwroot/Xivic.Xap
src/Xivic/Adapt.Services/wwwroot/Xivic.zip
/AES/AES.sln.DotSettings.user
Xivic/Adapt\.Presentation\.Xivic\.Android/Properties/AndroidManifest\.xml
Xivic/Adapt\.Presentation\.Xivic\.Android/Resources/xml/file_paths\.xml
src/Xivic/Adapt\.Services/wwwroot/DocFx/
AndroidManifest.xml
file_paths.xml
Xivic.xap
src/Xivic/Adapt\.Presentation\.WPF/publish/
src/Xivic/Adapt\.Services/wwwroot/Adapt\.Presentation\.WPF\.exe
